doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      nav.header
          ul.list
              li.logo
                  a(href='/') liuyan
              li
                  a(href='/') 首页
              li              
                if user
                  a(href='/logout') 退出
                else
                  a(href='/login') 登录                
              li
                  a(href='/reg') 注册
       div.container
           block content
           hr
           footer.footer
               p
                  a(href='https://github/zj9468/liuyan') zhoujie
                  | @2018
